<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jam</title>
    <link rel="stylesheet" href="/Users/soniastan/Documents/flask-twilio-video/static/style.css">
    <style>
        body {
            background: url(background.png) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div>
        <a href="newJam.html" class="button">new jam</a>
        <a href="joinJam.html" class="button">join jam</a>
        
    </div>
</body>